<div class="container">
    <br />
    <div class="row bg-info">
        <div class="col-md-3 col-sm-12">
            <img src="~/Images/emma_s.jpg" class="center-block visible-md visible-lg img-responsive img-circle" />
            <img src="~/Images/emma_b.jpg" class="visible-sm visible-xs img-responsive img-rounded" />
        </div>
        <div class="col-md-9 col-sm-12">
            <table class="table table-bordered" style="margin-top:3%">
                <tbody>
                    <tr>
                        <th class="text-center">姓名</th>
                        <td>Emma Charlotte Duerre Watson</td>
                    </tr>
                    <tr>
                        <th class="text-center">職業</th>
                        <td>英國女演員、模特兒兼社會活動家</td>
                    </tr>
                    <tr>
                        <th class="text-center">代表作</th>
                        <td><mark>哈利波特</mark>、芭蕾舞鞋</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row bg-success">
        <div class="col-md-3 col-md-push-9">
            <img src="~/Images/ann_s.jpg" class="center-block visible-md visible-lg img-responsive img-circle" />
            <img src="~/Images/ann_b.jpg" class="visible-sm visible-xs img-responsive img-rounded" />
        </div>
        <div class="col-md-9 col-md-pull-3">
            <table class="table table-bordered" style="margin-top:3%">
                <tbody>
                    <tr>
                        <th class="text-center">姓名</th>
                        <td>Anne Hathaway</td>
                    </tr>
                    <tr>
                        <th class="text-center">職業</th>
                        <td>美國知名女演員</td>
                    </tr>
                    <tr>
                        <th class="text-center">代表作</th>
                        <td>穿著Prada的惡魔、麻雀變公主、<mark>黑暗騎士：黎明昇起</mark>、悲慘世界</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row bg-danger visible-md-block visible-lg-block">
        <div class="col-md-3 col-sm-12">
            <img src="~/Images/Jolie_s.jpg" class="center-block visible-md visible-lg img-responsive img-circle" />
            <img src="~/Images/Jolie_b.jpg" class="visible-sm visible-xs img-responsive img-rounded" />
        </div>
        <div class="col-md-9 col-sm-12">
            <table class="table table-bordered" style="margin-top:3%">
                <tbody>
                    <tr>
                        <th class="text-center">姓名</th>
                        <td>Angelina Jolie</td>
                    </tr>
                    <tr>
                        <th class="text-center">職業</th>
                        <td>女演員、慈善家、社會活動家，美國紐約大學校友，聯合國兒童親善大使</td>
                    </tr>
                    <tr>
                        <th class="text-center">代表作</th>
                        <td><mark>黑魔女：沉睡魔咒</mark>、史密斯任務、刺客聯盟</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>