<style>
    .error {
        font-size: 12px;
        color: red;
    }
</style>
<div class="row">
    <form id="NewsData" class="col-md-8" action="@Url.Action("AddForum", "Home")" method="post">
        <div class="form-group has-feedback">
            <label>名稱</label>
            <input id="CreateUserName" name="CreateUserName" type="text" placeholder="請輸入一個名稱" class="form-control" />
            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
            <label>Email</label>
            <input id="email" name="email" type="email" placeholder="請輸入Email" class="form-control" />
            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
            <label>主題名稱</label>
            <input id="Subject" name="Subject" type="text" placeholder="請輸入主題標題" class="form-control" />
            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
        </div>
        <div class="form-group">
            <label>主題內容</label>
            <textarea id="Content" name="Content" rows="5" class="form-control"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input id="needcheck" name="needcheck" type="checkbox" />勾選後才能送出
            </label>
        </div>
        <button type="button" id="submitbtn" class="btn btn-primary" data-loading-text="Sending..." data-toggle="tooltip" data-placement="top" title="新增一筆消息">Submit</button>
        <button type="button" id="closebtn" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="取消新增消息" style="margin-left:10px">Cancle</button>
    </form>
</div>

<div class="modal fade" id="modal-panel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>提醒</h2>
            </div>
            <div class="modal-body">
                是否確定要取消？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="BackToIndex()">是</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submitbtn').on('click', function () {
                var $btn = $(this).button('loading');
                validation();
                $btn.button('reset');
            });

            $('#closebtn').on('click', function () {
                $('#modal-panel').modal({
                    keyboard: false,
                    backdrop: false
                }, 'show');
            });

            $('[data-toggle="tooltip"]').tooltip()

        });

        function validation() {
            ClearValidateState();
            $('#NewsData').validate({
                errorClass: "error",
                rules: {
                    CreateUserName: {
                        required: true,
                        minlength: 3,
                        maxlength: 200
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    Subject: {
                        required: true,
                        minlength: 3,
                        maxlength: 200
                    },
                    Content: {
                        required: true,
                    },
                    needcheck: {
                        required: true
                    }

                },
                messages: {
                    CreateUserName: {
                        required: "請輸入一個名稱",
                        minlength: "主題名稱長度至少為3個字元",
                        maxlength: "主題名稱長度至多為200個字元"
                    },
                    email: {
                        required: "請輸入Email",
                        email: "請輸入正確的Email"
                    },
                    Subject: {
                        required: "請輸入主題",
                        minlength: "主題名稱長度至少為3個字元",
                        maxlength: "主題名稱長度至多為200個字元"
                    },
                    Content: {
                        required: "請輸入內容"
                    },
                    needcheck: {
                        required: "必須要勾選！"
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parent().removeClass("has-success");
                    $(element).parent().find(".glyphicon-ok").addClass("hidden");
                    $(element).parent().addClass("has-error");
                    $(element).parent().find(".glyphicon-remove").removeClass("hidden");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parent().removeClass("has-error");
                    $(element).parent().find(".glyphicon-remove").addClass("hidden");
                    $(element).parent().addClass("has-success");                    
                    $(element).parent().find(".glyphicon-ok").removeClass("hidden");
                },
                //showErrors: function (errorMap, errorList) {

                //    $('#errormsg').text("您尚有" + this.numberOfInvalids() + "個錯誤，請先修正後再嘗試送出！");
                //    $('#errormsg').parent().removeClass('hidden');
                //},
                submitHandler: function (form) {
                    form.submit();
                }
            });
            $('#NewsData').submit();
        };

        function ClearValidateState() {
            $('.has-error').each(function () {
                $(this).find('span').addClass('hidden');
                $(this).removeClass('has-error');

            })
        };

        function BackToIndex() {
            window.location = '@Url.Action("Contact", "Home")';
        }

    </script>
}