@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyHomePage</h1>
    <p class="lead">Welcome to My Home Page.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>時事新聞</h2>
        <div id="news-panel">

        </div>
    </div>
</div>